@charset "UTf-8";



body {
    background-color: rgb(95, 202, 219);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
main{
    background-color: rgb(255, 255, 255);
}
@media (max-width: 600px) {
  main {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  main {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  main {
    width: 60%;
  


    border-radius: 7px;
    padding: 7px;
    margin: auto;
    box-shadow: 2px 2px 7px rgba(143, 191, 66, 0.671);
    
  } 
}

h1 {
    color: rgb(28, 0, 142);
    text-align: center;
    text-shadow: 1.5px 1.5px 2px rgba(226, 20, 212, 0.554);
      
}

h2 {
    color: rgb(243, 243, 10);
    background-color: rgb(159, 93, 235);
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 3px 7px rgb(48, 32, 226);
    text-shadow: 2px 1.5px 2px rgb(203, 21, 139);

}
h3 {
    color: rgb(78, 10, 237);
}
p{
    color: rgba(7, 71, 232, 0.912);
}

p {
    text-align: justify;
}

p {
    text-indent: 30px; /* recuo de 30 pixels na primeira linha */
}
a {
    color: rgb(246, 25, 25);
    text-decoration: none;
}
a:link {
  color:rgba(7, 71, 232, 0.886); /* cor padrão do link */
}

a:visited {
  color:  rgb(255, 0, 238);/* cor depois de clicado */
  
}

a:hover {
  color: rgb(220, 112, 23); /* cor quando passa o mouse */
}

a:active {
  color: rgb(95, 202, 219); /* cor no momento do clique */
}
#link{
    color: rgb(243, 243, 10);
    background-color: rgb(159, 93, 235);
    border-radius: 7px;
    text-align: center;
    box-shadow: 0px 2px 7px rgb(49, 197, 220);
    text-shadow: 2px 1.5px 2px rgb(203, 21, 139);
    
}
video{
    display: block;
    border-radius: 9px;
    box-shadow: 0px 2px 7px rgb(49, 197, 220);
    border-radius: 7px;
    width: 100%;
    margin: auto;   
}
hr{
    border: 1.5px solid rgb(159, 93, 235);
    margin: 10px 0;
}
#linha_separadora {
    border: 0.5px solid rgb(159, 93, 235);
    margin: 10px 0;
} 